<!DOCTYPE html>
<html>
<head>
  <title>Plantblox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app>

<%= yield %>

  <%= javascript_include_tag 'application' %>
</body>
</html>
